@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* medidas absolutas
    cm mm in px pt pc
    medidas relativas
    em ex rem vw vh % */
}

h1, h2{
    font: normal bold 3em 'work sans, sans-serif' ;
    /* fontweight: lighter normal bold bolder*/

    /* shorthand: font
font-style -> font-weight -> font-size -> font-family
*/
}